{% extends "base.html" %}

{% block content %}
<div class="edit-fact-wrapper">
    <h1>Edit Fact</h1>
    <div class="form-part">
        <form method="post">
            {% csrf_token %}
            <div class="form-fields">
                <div class="form-field">
                    <label for="{{ form.fact_title.id_for_label }}">Fact Title</label>
                    {{ form.fact_title }}
                </div>
                <div class="form-field">
                    <label for="{{ form.fact_text.id_for_label }}">Fact Text</label>
                    {{ form.fact_text }}
                </div>
                <div class="form-field">
                    <label for="{{ form.fact_discription.id_for_label }}">Fact Description</label>
                    {{ form.fact_discription }}
                </div>
                <div class="form-field">
                    <label for="{{ form.source.id_for_label }}">Source</label>
                    {{ form.source }}
                </div>
            </div>
            <div class="form-image">
                <img src="{{ image }}" class="form-image-image" alt="fact_img" />
                <div class="form-field">
                    <label for="{{ form.image_url.id_for_label }}">Image URL</label>
                    <input type="text" id="{{ form.image_url.id_for_label }}" name="{{ form.image_url.html_name }}"
                        value="{{ image }}">
                </div>
            </div>
    </div>
    <div class="form-buttons">
        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-secondary" onclick="goback()">Cancel</a>
    </div>
    </form>
</div>

<script>
    function goback() {
        window.history.back()
    }
</script>

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'facts/edit_fact.css' %}">
{% endblock styles %}

{% endblock content %}